﻿
<script language="javascript">
    var url = "http://localhost:50430/api/book/"
    function doList() {
        $.get(url + "all", null, function (data, status, jqxr) {
            alert("ALL: " + data);
        }, "html");
    }

    function doAdd() {
        var newDept = { "deptno": 0, "dname": "Development", "loc": "Debrecen" };
        $.post(url + "add", newDept, function (data, status, jqxr) {
            alert("ADD: " + data);
            doList();
        }, "html");
    }

    function doMod() {
        var newDept = { "deptno": 41, "dname": "Development", "loc": "Budapest" };
        $.post(url + "add", newDept, function (data, status, jqxr) {
            alert("MOD: " + data);
            doList();
        }, "html");
    }

    function doDel() {
        $.get(url + "del/" + $("#delId").val(), null, function (data, status, jqxr) {
            alert("DEL: " + data);
            doList();
        }, "html");
    }

</script>

<button onclick="doList()">LIST</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<br />
<button onclick="doDel()">DEL</button>
<input type="text" id="delId" />
<hr />

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
